* {
    box-sizing: border-box;
    
}


body{
    margin: 0;

    width: 100%;
    height: 100%;
    

    font-family: Arial, Helvetica, sans-serif;
    font-size:1.4rem;
}

/*-------------*\
    CABECALHO
\*-------------*/
header{
    
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.logo-cabecalho{
    margin-top: 1px;
}

.container{
    width: 100%;
    margin: 0 auto; /*Ajuste do container superior e inferio 0 e direita esquerda automático*/
    padding-left: 15px;
    padding-right: 15px;
}

.layout-cabecalho--home{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;

    background-color: #fbfbfb;
}


/*------------------*\
        MENU
\*------------------*/
.menu{
    margin:0;
    

    font-size: 1.4rem;

    list-style: none;
}



/*------------------*\
  MENU TELAS PEQUENAS
\*------------------*/

@media(max-width: 991px){

        
    .menu{
        position: fixed;
        top:0;
        left:0;
        bottom:0;

        /*Ocultando o menu para mobile
        display:none;
        */
        padding: 20px;
        width: 200px;
        

        border-right: 1px solid #eee;

        background-color: #fbfbfb;
    }

    

    .menu--exibindo{
        display: block;
        /*Ocultando o menu para mobile*/
        display:none;
    }

    .menu__item{
        display:block;

        line-height: 3;
    }

    a{
        text-decoration: none;
        color: #a13dff;
        font-weight: bold;
    }

    a:hover{
        color: #CE9CFD;
    }
}

/*------------------*\
  MENU TELAS GRANDES
\*------------------*/

@media(min-width:992px){
    .menu__item{
        display: inline-block;

        padding-top: 40px;
        
        padding-right:15px;
    }

    .menu__item:last-of-type{
        padding-right:30px ;
    }

    a{
        text-decoration: none;

        height: 50px;

        color: #a13dff;
        font-weight: bold;
    }

    a:hover{
        color: #CE9CFD;
    }

    
}


/*-------------*\
    NAVEGACAO
\*-------------*/

.navegacao__menu{
    float:right;
}

/*-------------*\
 BOTAO-CHAVEADOR
\*-------------*/

.botao-chaveador{
    width:24px;
    height: 24px;
    border:0;
    margin-top:40px;
    margin-right: 20px;

    background: none;
    background-image: url("imagem/barras.png");
    
    outline: none;
}

@media(min-width: 992px){
    .botao-chaveador{
        display:none;
    }
}


/*---------------------------------*\
 CORPO-BANNER-DOCAO-HOME-TELA-GRANDE
\*---------------------------------*/

@media(min-width:992px){

    .banner-ama{
        margin-top: 103px;
        
        
        
    }

    
    .banner-doacao-amora{
        position: relative;
        top: -6px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        background-color: white;
    }

    .banner-doacao{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        background-color: white;
    }

    /*.banner-vakinha--bloco{
        
        position: relative;
        Top: 10px;
        Bottom: 10px; 
        Left: 42%; 
        Right:0;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 1%;
        
        height: auto;
        
        
        
    }*/

    
    .banner-vakinha{
        margin: 15px;

        padding: 1px;
        display: inline-block;
        
        

        box-shadow: 2px 1px 5px rgb(145, 145, 145);
       
    }

}

/*---------------------------------*\
 CORPO-BANNER-DOCAO-HOME-TELA-PEQUENA
\*---------------------------------*/
/*
@media(max-width:991px){

    .banner-ama{
        margin-top: 103px;
        object-fit: cover;
        height: 40vh;
        width: 100vw;
    }


    .banner-doacao-amora{
        position: relative;
        top: 20px;
        left: 0;
        right: 0;
        padding: 0;
        width: 100%;
        
    }

    .banner-doacao{
        position: relative;
        
        margin: auto;
        background-color: white;
        
        

    }
    

    .banner-vakinha01{
        position: relative;
        Top: 0;
        Bottom: 0;
        Left: 50px;
        Right: 0;
        
        padding: 0;
        
        width: 100%;
        
        
        
    }

    .banner-vakinha02{
        position: relative;
        Top: 20px;
        Bottom: 0;
        Left:   0px;
        Right: 0;
        
        padding: 0;
        
        width: 100%;
    }

    .banner-vakinha03{
        position: relative;
        Top: 35px;
        Bottom: 0;
        Left: 50px;
        Right: 0;
        
        padding: 0;
        
        width: 100%;
    }

    .banner-vakinha04{
        position: relative;
        Top: 50px;
        Bottom: 0;
        Left: 50px;
        Right: 0;
        
        padding: 0;
        
        width: 100%;
    }

}
*/


/*-------------*\
    RODAPE
\*-------------*/

.menu__item-rodape{
    display: none;
}




/*---------------*\
RODAPE-TELA-GRANDE
\*---------------*/

@media(min-width:992px){
    .coluna1-rodape{
        position: relative;
        float: left;
        
        width: 33%;
               
        height: 120px;

        background-color: #f9fd00;
    }

    .coluna2-rodape{
        position: relative;
        float:left;
        
        width: 34%;

        height: 120px;

        background-color: #f9fd00;
    }

    .coluna3-rodape{
        position: relative;
        float: right;
        
        width: 33%;

        height: 120px;

        background-color: #f9fd00;
    }


    .layout-rodape{
        position: relative;
        width: 100%;
        background-color: #a13dff;
    }


    .logo__rodape{
        position:absolute;
        
        top:10px;
        left: 20px;
    }

    .logo-social--facebook{
        position:absolute;
        
        
        left: 48%;
        top:15px;

        
    }

    .logo-social--instagram{
        position: absolute;
        

        left: 48%;
        top:65px;
    }

    .menu__item-rodape{
        
        display:block;

        text-align:right;

        
        padding: 5px 60px 5px 200px;

    }

    .primeiro-rodape{
        width: 100%;
        height: 120px;
    
        position: relative;
        padding: 0;
        
        color: black;
        text-align: center;
        font-size:0.8rem;
    
        background-color: #daff08;
    
    }

    .layout-rodape-inferior{
      
        width: 100%;
        height: 60px;
        padding: 0;
    
        bottom:0;
        border-top: 1px solid rgb(185, 185, 185);
        
        background-color: #d1a9ff;
    }

    .direitos-autorais{
    
        padding-top: 10px;
        text-align: center;
        
        color:black;
        font-size:0.8rem;
    }
}

/*---------------*\
RODAPE-TELA-PEQUENA
\*---------------*/

@media(max-width: 991px){
    
    .logo__rodape{
        position: relative;
        width: 100%;
        height: 7rem;
        
    }

    .logo-social{
        position: relative;
        width: 100%;
        height: 7rem;
    }

    .logo-ama-rodape{
        
        display: block;
        margin: 0 auto;
        padding-top: 1rem;
    }

    .logo-social .logo-social--facebook{

        display: block;
        margin: 0 auto;
        padding-top:1rem;
    }
    
    .logo-social .logo-social--instagram{
        display: block;
        margin: 0 auto;
        padding-top:1rem;
        
        
        
    }

    .layout-rodape-inferior{
      
        width: 100%;
        height: 60px;
        padding: 0;
    
        bottom:0;
        border-top: 1px solid rgb(185, 185, 185);
        
        background-color: #d1a9ff;
    }

    .direitos-autorais{
        padding-top: 10px;
        text-align: center;
        
        color:black;
        font-size:0.8rem;
        
    }
}


.clearfix{
    clear:both;
}





